<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arun">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".drawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Admin.upload_image_travel" />
        <activity android:name=".CAB_Module.cab_booknow" />
        <activity android:name=".Admin.Adminselectcity" />
        <activity android:name=".Citysselect" />
        <activity android:name=".Admin.addtravlingplaces" />
        <activity android:name=".Admin.AdminHomepage" />
        <activity
            android:name=".Nev_bar"
            android:label="@string/title_activity_nev_bar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hotel_module.hoteladmin"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Hotel_module.hotel1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Hotel_module.hotel_form"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Hotel_module.hotel_description"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Hotel_module.front"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Hotel_module.confirmbook"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Food_Module.vieworderlist"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Food_Module.viewordercardview"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Food_Module.restaurant"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".Food_Module.orderview_notcart"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Food_Module.orderplaced"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Food_Module.menu"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Food_Module.itemdetailscard_view"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".Food_Module.item1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>








        <activity
            android:name=".welcome"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".onclicktravelcardview" />
        <activity android:name=".TRAVEL" />
        <activity android:name=".Food_Module.FOOD" />
        <activity android:name=".RENT" />
        <activity android:name=".HOTEL" />
        <activity android:name=".CAB_Module.CAB" />
        <activity
            android:name=".signup"
            android:label="Signup" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Homepage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>